<h1>Detalhes da Venda</h1>
<p>ID: <%= venda.id %></p>
<p>Data: <%= venda.data.toISOString().split('T')[0] %></p>
<p>Valor Total: R$ <%= typeof venda.valor_total === 'number' ? venda.valor_total.toFixed(2) : '0.00' %></p>
<p>Quantidade: <%= venda.quantidade %></p>
<p>Produto: <%= venda.produto_id %></p>
<a href="/vendas" class="btn btn-primary">Voltar para a lista</a>
